{
  "extends": "airbnb",
  "globals": {
    "logger": true,
    "Gamer": true
  },
  "rules": {
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": false }],
    "lines-around-directive": ["error", "always"],
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "func-names": "off",
    "no-constant-condition": "off",
    "no-multi-assign": "off",
    "no-underscore-dangle": "off",
    "newline-after-var": "error",
    "newline-before-return": "error",
    "import/no-extraneous-dependencies": "off",
    "import/order": "error",
    "import/prefer-default-export": "off",
    "new-cap": "off"
  }
}